/* header */

header {
    background-color: #fff;
    border-bottom: 3px solid #ccc;
    padding-top: 30px;
}

.top-nav {
    width: 960px;
    margin: auto;
}

h1 {
    font-family: 'Georgia', Times, serif;
    background-color: #4aaaa5;
    color: #fff;
    padding: 30px;
    margin: 0px;
    float: left;
}

nav {
    float: right;
}

.top-nav::after {
    content: " ";
    display: block;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

li {
    display: inline;
}

li:nth-child(2) {
    border-width: 0px 2px;
    border-style: solid;
    border-color: #ccc;
}

.nav-link {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    text-decoration: none;
    padding: 0px 15px;
    text-align: center;
}

.nav-link:hover {
    background-color: #4aaaa5;
    color: #fff;
}

/* main section */

body {
    height: 1000px;
}

main {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 30px;
    width: 900px;
    margin: 30px auto 0px auto;
}

h2 {
    font-family: 'Georgia', Times, serif;
    color: #4aaaa5;
    padding-bottom: 30px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 30px;
}

.my-pic {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 30px;
    margin-bottom: 15px;
}

p, label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
}

/* contact form */

label {
    display: block;
    padding: 15px 0px 5px 0px;
}

input, textarea {
    width: 100%;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 15px;
    width: 120px
}

input[type=submit]:hover {
    background-color: #777;
}

/* portfolio */

.port-row {
    width: 690px;
    margin: auto;
    clear: both;
    overflow: auto;
}

.port-img {
    float: left;
    position: relative;
    margin: 15px;
}

h3 {
    position: absolute;
    text-align: center;
    bottom: 30px;
    width: 100%;
    background-color: #4aaaa5;
    color: #fff;
    margin: 0px;
    padding: 15px 0px;
}

/* footer */

footer {
    background-color: #666;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 75%;
    width: 100%;
    border-top: 6px solid #ccc; 
}

footer p {
    color: #fff;
    margin-top: 30px;
}

/* background texture */

body {
    background-image: url(../images/dust_scratches.png);
    margin: 0px;
    padding: 0px;
}